h2{
    color: rgb(212, 255, 0);
}
p{
    color: #f7f9f9;
}

body{
   background-image:url(https://is3.cloudhost.id/jakarta/images/image-article-photo/2025-10/11/timnas-indonesia-u-23-menyerah-dari-india-68e942fb2d8e5.jpg)
}